name: "release-tauri-plugin-client"
on:
  push:
    tags:
      - 'tauri-plugin-client-v[0-9]+.[0-9]+.[0-9]+'
      - 'tauri-plugin-client-v[0-9]+.[0-9]+.[0-9]+-[a-z]+'
      - 'tauri-plugin-client-v[0-9]+.[0-9]+.[0-9]+-[a-z]+.[0-9]+'

jobs:
  release:
    permissions: write-all
    environment: Cargo Release
    runs-on: self-hosted
    container:
      image: ubuntu:22.04
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v3

      - name: Install packages
        run: |
          apt-get update
          apt-get install -y sudo build-essential curl openjdk-11-jdk unzip git

      - name: Install nix
        uses: cachix/install-nix-action@v27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-24.05
          enable_kvm: false

      - uses: cachix/cachix-action@v15
        env:
          USER: root
        with:
          name: holochain-ci

      # The `--no-verify` flag is used in `cargo publish` as a workaround because the tauri plugin builder
      # writes files outside the OUT_DIR.
      # 
      # See https://github.com/tauri-apps/tauri/issues/11187
      - name: Publish to Nexus Cargo
        run: |
          nix develop --no-update-lock-file --command bash -c "pnpm run publish:tauri-plugin-client -- --registry volla-nexus"
        env:
          CARGO_REGISTRIES_VOLLA_NEXUS_TOKEN: ${{ secrets.NEXUS_CARGO_TOKEN }}